
#tbordprod{
	border-collapse: collapse;
}
#tbordprod td{
	border: 1px solid rgba(11, 29, 63, 0.5);
}
.tdright {
	text-align: right;
}


#tbordzebr{
	border-collapse: collapse;
}
#tbordzebr td{
	border: 1px solid rgba(11, 29, 63, 0.5);
}
#tbordzebr tbody tr:nth-child(2n+1){
	/*background: #ccc;*/
	background: rgba(248, 251, 255, 0.8);
	}
